Q1) Create one variable containing following type of data:
1. string
2. list
3. float
4. tuple

Answer:

In [1]:
String = "I am fine"
list=[32,54,54,23,33]
float= 3.14
tuple= ("sita", "geeta", "ram", "shyam")

Q2)Given are some following variable containing data:

1. var1=''
2. var2='[DS, ML, Python]'
3. var3= ['DS','ML','Python']
4. var4= 1

   What will be the data type of the above given variable?

Answer:

1. string
2. string
3. List
4. Integer

Q3)Explain the use of the following operators using an example:
1. /
2. %
3. //
4. **

Answer:

1. Division(/) - This operator poerforms division and returns a floating-point resutl, even if both operands and integers.

In [2]:
a= 10
b= 20
result = a/b
print(result)

0.5

2. Modulus(%) - This % operator returns the remainder of the division between two numbers.

In [3]:
a= 10
b= 3
result = a % b
print(result)

1

3. Floor Division(//) - This operator performs floor division, return the largest integer less than or equal to the division result(gives quotient).

In [4]:
a= 10
b= 3
result= a//b
print(result)

3

4. Exponentiation(**) - This operator raises the number on the left to the power of the number on the right.

In [5]:
a= 2 
b= 3
result = a**b
print(result)

8

Q4)Create a list of length 10 of your choice containing multiple type of data. Using for loop print the element and its data type.

Answer:

In [6]:
my_list= [ 34, 3.14, "hello world!", [1,2,3], (4,5,6), {'fruit': 'mango'}, True,2+3j, None, {1,2,3} ]

for item in my_list: 
    print(item, type(item))

34 <class 'int'>
3.14 <class 'float'>
hello world! <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'fruit': 'mango'} <class 'dict'>
True <class 'bool'>
(2+3j) <class 'complex'>
None <class 'NoneType'>
{1, 2, 3} <class 'set'>

Q5)Using a while loop. Verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

Answer:

In [ ]:
a= int(input("Enter the dividend (a): "))
b= int(input("Enter the divisor (b): "))

if b==0: 
    print("division by zero is not allowed.")
else: 
    if a%b == 0:
        count= 0
        temp=a
        while temp % b == 0:
           temp = temp//b
           count += 1
        print(f"{a} is divisible by {b} exactly {count} times.")
    else:
        print(f"{a} is not divisible by {b}.")

Q6)Create a list containing 25 int type data. Using for loop and if- else condition print if the element is divisible by 3 or not.

Answer:

In [ ]:
my_list = [3,64,23,72,90,18,60,15,76,34,87,12,54,87,65,78,45,23,54,76,87,45,23,45,76]
for num in my_list:
    if num%3 == 0:
        print(f"{num} is divisible by 3")
    else: 
        print(f"{num} is not divisible by 3.")

Q7)What do you understand about mutable and immutable data types? Give examples for both showing this property.

Answer:

Mutable data types- These are in-built types like int, float, bool, string, unicode, tuple. In simple words, an immutable object 
can't be changed after it is created

In [ ]:
# example- List

my_list= [1,2,3]
my_list[0] = 10
my_list.append(4) 
print(my_list)

Immutable data types- These objects cannot be changed after they are created. These are of type list, dict, set custom classes are generally mutable.

In [ ]:
# example- 

my_tuple=(1,2,3)
my_tuple[0]=10 #This gives error because this data type can not be change